*~

*.a
*.annot
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.la
*.lo
*.log
*.o
*.so
*.pyc
*.trs

/libnbd-[0-9]*[0-9]/
/libnbd-*.tar.gz

/local*

.deps
.libs
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/*.3
/docs/*.pod
/docs/Makefile.inc
!/docs/libnbd.pod
!/docs/nbd_close.3
!/docs/nbd_create.pod
!/docs/nbd_get_err??.3
/examples/aio-connect-read
/examples/batched-read-write
/examples/connect-command
/examples/encryption
/examples/fetch-first-sector
/examples/get-size
/examples/glib-main-loop
/examples/open-qcow2
/examples/reads-and-writes
/examples/server-flags
/examples/strict-structured-reads
/examples/threaded-reads-and-writes
/generator/generator-cache.v1
/generator/stamp-generator
/html/*.?.html
/include/libnbd.h
/interop/dirty-bitmap
/interop/interop-nbdkit
/interop/interop-nbdkit-tls-certs
/interop/interop-nbdkit-tls-certs-allow-enabled
/interop/interop-nbdkit-tls-certs-allow-fallback
/interop/interop-nbdkit-tls-psk
/interop/interop-nbdkit-tls-psk-allow-enabled
/interop/interop-nbdkit-tls-psk-allow-fallback
/interop/interop-nbd-server
/interop/interop-qemu-nbd
/interop/interop-qemu-nbd-tls-certs
/interop/interop-qemu-nbd-tls-psk
/interop/socket-activation-nbdkit
/interop/socket-activation-qemu-nbd
/interop/structured-read
/lib/api.c
/lib/libnbd.pc
/lib/libnbd.syms
/lib/states.c
/lib/states-run.c
/lib/states.h
/lib/unlocked.h
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/ocaml/.depend
/ocaml/examples/.depend
/ocaml/examples/*.bc
/ocaml/examples/*.opt
/ocaml/libnbd-ocaml.3
/ocaml/libnbdocaml.a
/ocaml/META
/ocaml/NBD.ml
/ocaml/NBD.mli
/ocaml/nbd-c.c
/ocaml/stamp-mlnbd
/ocaml/tests/.depend
/ocaml/tests/*.bc
/ocaml/tests/*.opt
/podwrapper.pl
/python/libnbdmod.c
/python/methods.c
/python/methods.h
/python/nbd.py
/python/run-python-tests
/run
/sh/nbdsh
/sh/nbdsh.1
/stamp-h1
/test-driver
/tests/aio-parallel
/tests/aio-parallel-load
/tests/aio-parallel-load-tls
/tests/aio-parallel-tls
/tests/can-*-flag
/tests/closure-lifetimes
/tests/compile-ansi-c
/tests/compile-c
/tests/compile-cxx
/tests/compile-header-only
/tests/connect-tcp
/tests/connect-tls-certs
/tests/connect-tls-psk
/tests/connect-unix
/tests/connect-uri-tcp
/tests/connect-uri-unix
/tests/debug
/tests/debug-environment
/tests/errors
/tests/export-name
/tests/functions.sh
/tests/get-size
/tests/is-rotational-flag
/tests/is-not-rotational-flag
/tests/keys.psk
/tests/meta-base-allocation
/tests/oldstyle
/tests/version
/tests/pki/
/tests/read-only-flag
/tests/read-write-flag
/tests/server-death
/tests/synch-parallel
/tests/synch-parallel-tls
/valgrind/suppressions
