*~
*.la
*.lo
*.o
*.log
*.trs

/local*

.deps
.libs
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/examples/threaded-reads-and-writes
/examples/simple-fetch-first-sector
/examples/simple-reads-and-writes
/include/libnbd.h
/lib/api.c
/lib/libnbd.syms
/lib/states.c
/lib/states.h
/lib/unlocked.h
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/stamp-h1
/test-driver
/tests/can-flush-flag
/tests/can-not-flush-flag
/tests/can-fua-flag
/tests/can-not-fua-flag
/tests/can-multi-conn-flag
/tests/can-not-multi-conn-flag
/tests/can-trim-flag
/tests/can-not-trim-flag
/tests/can-zero-flag
/tests/get-size
/tests/is-rotational-flag
/tests/is-not-rotational-flag
/tests/read-only-flag
/tests/read-write-flag
