*~
*.la
*.lo
*.o
*.log
*.pyc
*.trs

/libnbd-*.tar.gz

/local*

.deps
.libs
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/libnbd.3
/examples/threaded-reads-and-writes
/examples/simple-fetch-first-sector
/examples/simple-reads-and-writes
/generator/stamp-generator
/html/*.?.html
/include/libnbd.h
/interop/interop-nbd-server
/interop/interop-qemu-nbd
/interop/interop-qemu-nbd-tls-certs
/interop/interop-qemu-nbd-tls-psk
/lib/api.c
/lib/libnbd.pc
/lib/libnbd.syms
/lib/states.c
/lib/states.h
/lib/unlocked.h
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/podwrapper.pl
/python/libnbdmod.c
/python/methods.c
/python/methods.h
/python/nbd.py
/python/run-python-tests
/run
/sh/nbdsh
/stamp-h1
/test-driver
/tests/aio-parallel
/tests/aio-parallel-load
/tests/aio-parallel-load-tls
/tests/aio-parallel-tls
/tests/can-flush-flag
/tests/can-not-flush-flag
/tests/can-fua-flag
/tests/can-not-fua-flag
/tests/can-multi-conn-flag
/tests/can-not-multi-conn-flag
/tests/can-trim-flag
/tests/can-not-trim-flag
/tests/can-zero-flag
/tests/connect-tcp
/tests/connect-tls-certs
/tests/connect-tls-psk
/tests/connect-unix
/tests/errors
/tests/get-size
/tests/is-rotational-flag
/tests/is-not-rotational-flag
/tests/keys.psk
/tests/oldstyle
/tests/pki/
/tests/read-only-flag
/tests/read-write-flag
/tests/synch-parallel
/tests/synch-parallel-tls
/valgrind/suppressions
